<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/base/index.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="ui-shell">
      {% block navbar %}{% include "components/navbar.html" %}{% endblock %}
      <main class="page-frame">
        {% block content %}{% endblock %}
      </main>
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
